<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用RseNet分类图像演示平台</title>
</head>
<body>
    <h1>使用ResNet分类图像演示平台</h1>
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="file" name="file" style="margin-top:20px;"/>
        <br>
        <h2>请输入你认为这张图片的分类标签：</h2>
        <input type="text" class="txt_input" name="name"  value="请输入pokeman类别" style="margin-top:10px;"/>
        <input type="submit" value="上传" class="button-new" style="margin-top:15px;"/>
    </form>
</body>
</html>